<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Stanford Digital Repository</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <%= stylesheet_link_tag 'purl_embed' %>
    <%= javascript_include_tag 'application', 'purl_embed' %>
  </head>
  <body>
    <div class="pe-container">
      <%= yield %>
    </div>

    <%= render :partial => 'embed/json_embed' %>
    <script type="text/javascript">
      $(function() { var pe = new purlEmbed(peImgInfo, pePid, peStacksURL, {}, '.pe-container'); });
    </script>
  </body>
</html>
